<nb-card>
  <nb-card-body>
    <form [formGroup]="fgLogin" (submit)="login()">
      <p class=" form-build">
        <label for="surname">Username </label>
        <input type="text" nbInput formControlName="surname" id="surname">
      </p>
      <p class=" form-build">
        <label for="password">Password </label>
        <nb-form-field>
          <input [type]="getInputType()" nbInput formControlName="password" id="password">
          <button nbSuffix type="button" nbButton ghost (click)="toggleShowPassword()">
            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
              [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
            </nb-icon>
          </button>
        </nb-form-field>

      </p>
      <p class="text-center">
        <a class="click-help mr-2" (click)="forgotPassword()">forgot password ?</a>
        <a class="click-help" (click)="forgotSurname()">forgot surname ?</a>
      </p>
      <div class="fr">
        <button nbButton class="mr-2" type="submit" status="primary" [disabled]="fgLogin.invalid">Login</button>
        <button status="primary" type="button" nbButton (click)="cancel()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
