<nb-card>

    <nb-card-header>

        <h3>Advanced Search</h3>

    </nb-card-header>

    <nb-card-body>

        <form [formGroup]="fg" (ngSubmit)="onSubmit()" id="advancedSearchForm">

            <fieldset>

                <legend>Product name</legend>
                <input nbInput fullWidth fieldSize="large" placeholder="Name" type="text" formControlName="name">

            </fieldset>

            <fieldset>

                <legend>Category</legend>

                <nb-select multiple formControlName="categories">

                    <nb-option *ngFor="let c of categories" value="{{c}}">
                        {{c}}
                    </nb-option>

                </nb-select>

            </fieldset>

            <fieldset>

                <legend>Product brand</legend>
                <input nbInput fullWidth fieldSize="large" placeholder="Brand" type="text" formControlName="supplier">

            </fieldset>
            
            <fieldset>

                <legend>Minimum Price</legend>
                <input type="range" min="0" max="1000" value="50" class="slider"
                 id="range1" formControlName="minimumPrice" 
                 (input)="sliderMinChange($event)">
                 <label>{{minimumPrice.toString()}}€</label>

            </fieldset>

            <fieldset>

                <legend>Maximum Price</legend>
                <input type="range" min="{{minimumPrice}}" max="1000" value="50" class="slider" id="range2" formControlName="maximumPrice" 
                (input)="sliderMaxChange($event)">
                <label>{{maximumPrice.toString()}}€</label>

            </fieldset>
            
            <fieldset>

                <legend>In stock</legend>
                <nb-checkbox formControlName="quantity"> </nb-checkbox>

            </fieldset>
            
        </form>

    </nb-card-body>

    <nb-card-footer>

        <button nbButton status="primary" form="advancedSearchForm" type="submit"><nb-icon icon="search-outline"></nb-icon>Search</button>

    </nb-card-footer>

</nb-card>