<nb-layout>

  <nb-layout-header fixed>
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <p>Amaz-Ace</p>
      <form (submit)="onSubmit()">
        <input type="text" nbInput>
        <button type="submit" nbButton>
          <nb-icon icon="search-outline"></nb-icon>
        </button>
      </form>
      <p>LA CONNEXION</p>
    </div>

  </nb-layout-header>

  <nb-sidebar>

    <app-nav></app-nav>

  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer>

    &copy; Ace Company

  </nb-layout-footer>

</nb-layout>
