<nb-card>
  <nb-card-header>
    <h3 class="text-center">Reset password</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="formChangePassword" (submit)="onSubmit()">
      <p class="form-build">
        <label for="oldPassword">Old password </label>
        <input type="password" nbInput formControlName="oldPassword" id="oldPassword">
      </p>
      <p class="form-build">
        <label for="password">New password </label>
        <input type="password" nbInput formControlName="password" id="password" [ngClass]="{'invalide-password-box':formChangePassword.value['password'] == formChangePassword.value['oldPassword'] &&
          !formChangePassword.get('password').pristine}">
      </p>
      <p class="form-build">
        <label for="passwordVerify">Confirm new password</label>
        <input type="password" nbInput formControlName="passwordVerify" id="passwordVerify" [ngClass]="{'invalide-password-box':(formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] &&
          !formChangePassword.get('passwordVerify').pristine) ||
          (formChangePassword.value['passwordVerify'] == formChangePassword.value['oldPassword'] &&
          !formChangePassword.get('passwordVerify').pristine) }">
      </p>
      <p class="invalid-password text-right" *ngIf="(formChangePassword.value['oldPassword'] == formChangePassword.value['password'] || 
      formChangePassword.value['oldPassword'] == formChangePassword.value['passwordVerify'] ) &&
      (!formChangePassword.get('password').pristine || !formChangePassword.get('passwordVerify').pristine) ">
        Old password is equal to new password</p>
      <p class="invalid-password text-right" *ngIf="formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] &&
           !formChangePassword.get('passwordVerify').pristine">
        New password are not equals</p>
      <div class="fr">
        <button class="mr-2" status="primary" type="submit" nbButton [disabled]="formChangePassword.invalid ||
            formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] || 
            formChangePassword.get('oldPassword') == formChangePassword.get('password') || 
            formChangePassword.get('oldPassword') == formChangePassword.get('passwordVerify')">Update</button>
        <button status="primary" type="button" nbButton (click)="cancel()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
