<div class="row">

  <ng-container *ngFor="let p of products | paginate : {
    itemsPerPage: pageSize,
    currentPage: page,
    totalItems: count
  };

  let i = index" [class.active]="i == currentIndex">

    <nb-card *ngIf="p.isActive" size="small" class="card col-4">

      <nb-card-header style="display: flex; justify-content: space-between;">

        <div>

          <h3> {{p.name}} </h3>

        </div>

        <div *ngIf="this.isConnected">

          <button nbButton type="button" status="primary" [nbPopover]="templateRef">

            <nb-icon icon="plus-outline"></nb-icon>
            <nb-icon icon="shopping-bag-outline"></nb-icon>

          </button>

          <ng-template #templateRef>

              <input nbInput type="number" [(ngModel)]="quantity" min="1" max="{{p.quantity}}">

              <button nbButton size="small" (click)="addToBasket(p)" status="success"> <nb-icon icon="checkmark-outline"></nb-icon> </button>

          </ng-template>

        </div>

      </nb-card-header>
      <nb-card-body class="row" (click)="redirect(p.productId)">

        <div class="col-4">

          <nb-list>

            <nb-list-item>{{p.purchasePrice | currency:'EUR'}}</nb-list-item>
            <nb-list-item>{{p.description}}</nb-list-item>
            <nb-list-item *ngFor="let c of p.categoriesDto">{{c.type}}</nb-list-item>
            <nb-list-item *ngIf="p.expirationDate != null">{{p.expirationDate | date : 'dd MMM YYYY'}}</nb-list-item>

          </nb-list>

        </div>

        <div class="col-8">

          <img src={{p.productImage}} id="img-selectAll">

        </div>

      </nb-card-body>

    </nb-card>

  </ng-container>

</div>

<div class="text-center">

  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
    (pageChange)="handlePageChange($event)">

  </pagination-controls>

  <div>

    Items per Page:

  
    <nb-select (selectedChange)="handlePageSizeChange($event)" ngModel="{{pageSize}}">

      <nb-option *ngFor="let size of pageSizes" value="{{size}}">

        {{ size }}

      </nb-option>

    </nb-select>

  </div>

</div>
