.row {

    min-width: 50%;
    display: flex;

}

.card:hover{

    background-color: rgb(71, 65, 98);
    
}

#img-selectAll {

    display: inline-block;
    max-width: 75%;
    margin-left: 50px;

}