<ng-container *ngIf="!isConnected">
  <button nbButton type="button" status="primary" (click)="popupCreate()" class=" mr-2">Create Account</button>
  <button nbButton type="button" status="primary" (click)="popupLogin()">Login</button>
</ng-container>
<ng-container *ngIf="isConnected">
  <ng-container *ngIf="isAdmin">
    <button nbButton type="button" status="primary" (click)="redirectToPanelAdmin()" class="mr-2">Panel Admin</button>
  </ng-container>
  <button nbButton type="button" status="danger" (click)="popupLogout()">Logout</button>
</ng-container>
