.form-build {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-build label {
  padding: 0 20px;
}

.fr {
  float: right;
}

.invalid-password {
  color: rgb(228, 59, 59);
  font-size: 1.3em;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.invalide-password-box {
  border: rgb(228, 59, 59) 3px solid !important;
  color: rgb(228, 59, 59) !important;
}