<nb-card>
  <nb-card-header>Creating a new Account</nb-card-header>
  <nb-card-body>
    <form [formGroup]="fgCreateUser" (submit)="onSubmit()">
      <p class=" form-build">
        <label for="surname">Username</label>
        <input nbInput type="text" id="surname" formControlName="surname">
      </p>
      <p class=" form-build">
        <label for="password">Password</label>
        <nb-form-field>
          <input nbInput [type]="getInputType()" id="password" formControlName="password">
          <button nbSuffix type="button" nbButton ghost (click)="toggleShowPassword()">
            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
              [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
            </nb-icon>
          </button>
        </nb-form-field>

      </p>
      <p class=" form-build">
        <label for="verifyPassword">Verify password</label>
        <nb-form-field>
          <input nbInput [type]="getInputVerifyType()" id="verifyPassword" formControlName="verifyPassword" [ngClass]="{'invalide-password-box':fgCreateUser.value['password'] != fgCreateUser.value['verifyPassword'] &&
        !fgCreateUser.get('verifyPassword').pristine}">
          <button nbSuffix type="button" nbButton ghost (click)="toggleShowVerifyPassword()">
            <nb-icon [icon]="showVerifyPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
              [attr.aria-label]="showVerifyPassword ? 'hide password' : 'show password'">
            </nb-icon>
          </button>
        </nb-form-field>

      </p>
      <p class=" form-build">
        <label for="firstname">Firstname</label>
        <input nbInput type="text" id="firstname" formControlName="firstname">
      </p>
      <p class=" form-build">
        <label for="lastname">Lastname</label>
        <input nbInput type="text" id="lastname" formControlName="lastname">
      </p>
      <div formGroupName="address">
        <p class=" form-build">
          <label for="street">Street</label>
          <input nbInput type="text" id="street" formControlName="street">
        </p>
        <p class=" form-build">
          <label for="number">Number</label>
          <input nbInput type="number" id="number" formControlName="number" min="0">
        </p>
        <p class=" form-build">
          <label for="city">City</label>
          <input nbInput type="text" id="city" formControlName="city">
        </p>
        <p class=" form-build">
          <label for="zip">Zip Code</label>
          <input nbInput type="text" id="zip" formControlName="zip">
        </p>
        <p class=" form-build">
          <label for="country">Country</label>
          <input nbInput type="text" id="country" formControlName="country">
        </p>
      </div>
      <p class="invalid-password text-right" *ngIf="fgCreateUser.value['password'] != fgCreateUser.value['verifyPassword'] &&
         !fgCreateUser.get('verifyPassword').pristine">
        Password are not equals</p>
      <div class="fr">
        <button status="primary" type="submit" nbButton [disabled]="fgCreateUser.invalid ||
        fgCreateUser.value['password'] != fgCreateUser.value['verifyPassword']">Create</button>
        <button status="primary" class=" ml-2" type="reset" nbButton>Reset</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
