<h2>List of Users</h2>
<table class="table table-striped">
  <thead>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Address</th>
    <th>Number of Order(s)</th>
    <th>Active</th>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{u?.lastName}}</td>
      <td>{{u?.firstName}}</td>
      <td>{{u?.surname}}</td>
      <td>{{u | pipeAddress}}, {{u?.address.country}}</td>
      <td>{{u?.ordersDto.length}}</td>
      <td class="text-center">
        <a (click)="changeActive(u.userId, u.isActive)">
          <nb-icon icon="radio-button-on" [status]="u.isActive ? 'success':'danger'"></nb-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
