<nb-card>
  <nb-card-header>
    <h3 class="text-center">Reset password</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="formChangePassword">
      <p class="form-build">
        <label for="surname">Surname linked to your account </label>
        <input type="text" nbInput formControlName="surname" id="surname">
      </p>
      <p class="form-build">
        <label for="password">New password </label>
        <input type="password" nbInput formControlName="password" id="password">
      </p>
      <p class="form-build">
        <label for="passwordVerify">New password verify</label>
        <input type="password" nbInput formControlName="passwordVerify" id="passwordVerify" [ngClass]="{'invalide-password-box':formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] &&
        !formChangePassword.get('passwordVerify').pristine}">
      </p>
      <p class="invalid-password text-right" *ngIf="formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] &&
         !formChangePassword.get('passwordVerify').pristine">
        Password are not equals</p>
      <div class="fr">
        <button class="mr-2" status="primary" type="submit" nbButton [disabled]="formChangePassword.invalid ||
          formChangePassword.value['password'] != formChangePassword.value['passwordVerify']">Update</button>
        <button status="primary" type="button" nbButton (click)="cancel()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
