<nb-card>
  <nb-card-header>
    <h3 class="text-center">Reset password</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="formChangePassword" (submit)="onSubmit()">
      <p class="form-build">
        <label for="surname">Username</label>
        <input type="text" nbInput formControlName="surname" id="surname">
      </p>
      <p class="form-build">
        <label for="password">New password</label>
        <nb-form-field>
          <input [type]="getInputTypePassword()" nbInput formControlName="password" id="password">
          <button nbSuffix type="button" nbButton ghost (click)="toggleShowPassword()">
            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
              [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
            </nb-icon>
          </button>
        </nb-form-field>
      </p>
      <p class="form-build">
        <label for="passwordVerify">Confirm new password</label>
        <nb-form-field>
          <input [type]="getInputTypeVerifyPassword()" nbInput formControlName="passwordVerify" id="passwordVerify"
            [ngClass]="{'invalide-password-box':formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] &&
        !formChangePassword.get('passwordVerify').pristine}">
          <button nbSuffix type="button" nbButton ghost (click)="toggleShowVerifyPassword()">
            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
              [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
            </nb-icon>
          </button>
        </nb-form-field>

      </p>
      <p class="invalid-password text-right" *ngIf="formChangePassword.value['password'] != formChangePassword.value['passwordVerify'] &&
         !formChangePassword.get('passwordVerify').pristine">
        Password are not equals</p>
      <div class="fr">
        <button class="mr-2" status="primary" type="submit" nbButton [disabled]="formChangePassword.invalid ||
          formChangePassword.value['password'] != formChangePassword.value['passwordVerify']">Update</button>
        <button status="primary" type="button" nbButton (click)="cancel()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
