<nb-card>
  <nb-card-header>
    <h3>{{product.name}}</h3>
  </nb-card-header>
  <nb-card-body class="flex">
    <div class="row">
      <img src={{product.productImage}} alt="" width="100%">
    </div>
    <div class="row">
      <ul class="no-style">
        <li><span class="bold">Description : </span>{{product.description}}</li>
        <li> <span class="bold">Category : </span>
          <span *ngFor="let c of product.categoriesDto">{{c.type}} </span>
        </li>
        <li><span class="bold">Purchase price : </span>{{product.purchasePrice | currency:'EUR'}}</li>
        <li><span class="bold">Quantity : </span>{{product.quantity}}</li>
        <li><span class="bold">Supplier : </span>{{product.supplierDto.companyName}} </li>
        <li *ngIf="product.expirationDate != null"><span class="bold">Date d'expiration :
          </span>{{product.expirationDate | date}}
        </li>
      </ul>
    </div>

  </nb-card-body>
</nb-card>
