.no-style{
    list-style: none;
}
.no-style li{
    margin: 20px 0;
    font-size: 1.7vw;
}
.no-style li span{
    margin: 20px 0;
    padding: 20px 15px;
    font-size: 1.9vw;
}

.bold{
    font-weight: bold;
}

.flex{
    display: flex;
}

.row{
    width: 50%;
}