<nb-card class=" col-7 divv">
  <nb-card-header style="display: flex;justify-content: space-between;">
    <h3>{{product.name}}</h3>
    <div *ngIf="this.isConnected">
      <button nbButton type="button" status="primary" [nbPopover]="templateRef">
        <nb-icon icon="plus-outline"></nb-icon>
        <nb-icon icon="shopping-bag-outline"></nb-icon>
      </button>
      <ng-template #templateRef>
        <input nbInput type="number" [(ngModel)]="quantity" min="1" max="{{product.quantity}}">
        <button nbButton size="small" (click)="addToBasket(product)" status="success">
          <nb-icon icon="checkmark-outline"></nb-icon>
        </button>
      </ng-template>
    </div>

  </nb-card-header>
  <nb-card-body class="flex">
    <div class="row-left">
      <img src={{product.productImage}} alt="" width="100%">
    </div>
    <div class="row-right">
      <ul class="no-style">
        <li>
          <table>
            <tr>
              <td class="left-side"><span class="bold">Description :</span></td>
              <td>{{product.description}}</td>
            </tr>
          </table>
        </li>
        <li> <span class="bold">Category : </span>
          <span *ngFor="let c of product.categoriesDto">{{c.type}} </span>
        </li>
        <li><span class="bold">Purchase price : </span>{{product.purchasePrice | currency:'EUR'}}</li>
        <li><span class="bold">Quantity : </span>{{product.quantity}}</li>
        <li><span class="bold">Supplier : </span>{{product.supplierDto.companyName}} </li>
        <li *ngIf="product.expirationDate != null"><span class="bold">Date d'expiration :
          </span>{{product.expirationDate | date}}
        </li>
      </ul>
    </div>

  </nb-card-body>
</nb-card>
