.divv {
  margin: 0 auto;
}

.no-style {
  list-style: none;
}

.no-style li {
  margin: 20px 0;
  font-size: 20px;
}

.no-style li span {
  margin: 20px 0;
  padding: 20px 15px;
  font-size: 22px;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.row-left {
  width: 50%;
}

.row-right {
  width: 50%;
}

.left-side {
  width: 40%;
  padding-left: 0px;
}
