<nb-card class="col-4 mx-auto">
  <nb-card-header style="display: flex; justify-content: space-between; align-items: baseline;">
    <h3>Welcome {{currentUser?.surname}}</h3>
    <div>
      <button nbButton status="primary" class="mr-2" (click)="editPassword()" nbPopover="Change Password"
        nbPopoverTrigger="hover">
        <nb-icon icon="lock-outline"></nb-icon>
      </button>
      <button nbButton status="primary" (click)="editProfil()" nbPopover="Edit Profil" nbPopoverTrigger="hover">
        <nb-icon icon="edit-2-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <p>Lastname : {{currentUser?.lastName}}</p>
    <p>Firstname : {{currentUser?.firstName}}</p>
    <p>Adress : {{currentUser | pipeAddress}}</p>
    <p>Country : {{currentUser?.address.country}}</p>
  </nb-card-body>
</nb-card>
